<div fxLayout="row" fxFlexOffset="3px" style="height:100%;width:100%">
  <div fxLayout="column" fxFlex="30%">
    <br><br><span><strong>Instructions</strong></span><br><br>
    <span> Choose one of the topics. </span><br>
    <span> <strong>Quote (LUIS)</strong> Type 'quote' , 'get a quote' </span>
    <span> <strong>Faq</strong> Type a question. </span>
    <span>            Eg. 'where is the manual?', 'cadillac'</span>
    <span> <strong>Place (Bing Map service)</strong> Type an address </span>
  </div>
  <iframe fxFlex="70%"
          src='https://webchat.botframework.com/embed/bot-master?s=F-pORFVI_HE.cwA.tXw.oWFCHeNpkrXnPJRD_dureGaptpONq7jbtQLyE5md2ZU'></iframe>

</div>
