:host {
  display: block;
  height: 100%;
  position: relative;
}

.header {
  min-height: 150px;
  max-height: 150px;
  background: #fff url("../../../assets/img/backgrounds/2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.chat-container {
  height: calc(100% - 86px);
  position: relative;
  max-width: 1200px;
  margin: -64px auto 0;
  padding: 0 32px 64px;
}

.chat-container .chat {
  background: white;
  height: 100%;
}

.chat-container .chat md-sidenav {
  width: 320px;
}

.chat-container .chat md-toolbar {
  border-bottom: 1px solid #EEE;
}

.chat-container .chat md-toolbar .toolbar {
  width: 100%;
}

.chat-container .chat md-toolbar .current-contact .avatar {
  margin: 0 14px 0 10px;
}

.chat-container .chat md-toolbar .current-contact .name {
  font-size: 18px;
  font-weight: 500;
}

.chat-container .chat md-toolbar .current-contact .status {
  font-size: 14px;
  color: #888;
}

.chat-container .chat .chat-inner-container {
  height: 100%;
}

.chat-container .chat .chat-inner-container .chat-content {
  position: relative;
  background: url("/assets/img/backgrounds/arch-pattern.png") repeat;
  height: calc(100% - 65px);
  min-height: 400px;
}

.chat-container .chat .chat-inner-container .chat-content perfect-scrollbar {
  margin-bottom: 103px;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container {
  padding: 24px;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message {
  margin: 24px 0;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message .message {
  padding: 8px;
  position: relative;
  box-shadow: 0 0px 0px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message .partner .message {
  background: white;
  margin-left: 12px;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message .partner .message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message .me .message {
  background: #E1FFC7;
  margin-right: 12px;
}

.chat-container .chat .chat-inner-container .chat-content .messages-container .chat-message .me .message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

.chat-container .chat .chat-inner-container .chat-content .chat-respond {
  background: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 24px;
  border-top: 1px solid #EEE;
}

.chat-container .chat .chat-inner-container .chat-content .chat-respond textarea {
  resize: none;
}

.chat-container .chat .chat-inner-container .chat-content .chat-respond button {
  margin-left: 24px;
}

md-sidenav.mat-sidenav-opened.mat-elevation-z2, md-sidenav.mat-sidenav-opening.mat-elevation-z2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=chat.component.css.map */
